<a href="https://colab.research.google.com/github/cmannnn/2021_strava/blob/main/2021_strava.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# plt.style.use('ggplot')
# sns.set_style('darkgrid')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
activities_path = "/content/drive/MyDrive/Colabby Krabby Paddy/2021_strava/2021_strava/activities.csv"
local_legends_segments_path = "/content/drive/MyDrive/Colabby Krabby Paddy/2021_strava/2021_strava/local_legend_segments.csv"
kudos_path = "/content/drive/MyDrive/Colabby Krabby Paddy/2021_strava/2021_strava/kudos.csv"
segments_path = "/content/drive/MyDrive/Colabby Krabby Paddy/2021_strava/2021_strava/segments.csv"

In [4]:
activities_df = pd.read_csv(activities_path, parse_dates = True)
print(activities_df.columns)

Index(['Activity ID', 'Activity Name', 'Activity Type', 'Activity Description',
       'Elapsed Time', 'Distance', 'Max Heart Rate', 'Relative Effort',
       'Commute', 'Activity Gear', 'Filename', 'Athlete Weight', 'Bike Weight',
       'Elapsed Time.1', 'Moving Time', 'Distance.1', 'Max Speed',
       'Average Speed', 'Elevation Gain', 'Elevation Loss', 'Elevation Low',
       'Elevation High', 'Max Grade', 'Average Grade',
       'Average Positive Grade', 'Average Negative Grade', 'Max Cadence',
       'Average Cadence', 'Max Heart Rate.1', 'Average Heart Rate',
       'Max Watts', 'Average Watts', 'Calories', 'Max Temperature',
       'Average Temperature', 'Relative Effort.1', 'Total Work',
       'Number of Runs', 'Uphill Time', 'Downhill Time', 'Other Time',
       'Perceived Exertion',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.type">Type</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.start_time">Start Time</span>',
       'Weighted Average Power', 'Power Count', 'Prefer Perceived Exertion',
       'Perceived Relative Effort', 'Commute.1', 'Total Weight Lifted',
       'From Upload', 'Grade Adjusted Distance', 'Weather Observation Time',
       'Weather Condition', 'Weather Temperature', 'Apparent Temperature',
       'Dewpoint', 'Humidity', 'Weather Pressure', 'Wind Speed', 'Wind Gust',
       'Wind Bearing', 'Precipitation Intensity', 'Sunrise Time',
       'Sunset Time', 'Moon Phase', 'Bike', 'Gear',
       'Precipitation Probability', 'Precipitation Type', 'Cloud Cover',
       'Weather Visibility', 'UV Index', 'Weather Ozone',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count">Jump Count</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit">Total Grit</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow">Avg Flow</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged">Flagged</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed">Avg Elapsed Speed</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance">Dirt Distance</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance">Newly Explored Distance</span>',
       '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance">Newly Explored Dirt Distance</span>'],
      dtype='object')

Notes:
- elapsed time column in seconds, needs to be multliplied to get minutes
-

In [5]:
cols_to_drop = ['Activity Description', 'Max Heart Rate', 'Relative Effort', 'Commute', 'Activity Gear', 'Filename', 'Athlete Weight', 
                'Bike Weight', 'Elapsed Time.1', 'Moving Time', 'Distance.1', 'Average Positive Grade', 'Average Negative Grade',
                'Max Cadence', 'Average Cadence', 'Max Heart Rate.1', 'Average Heart Rate', 'Max Watts', 'Average Watts', 'Max Temperature',
                'Average Temperature', 'Relative Effort.1', 'Total Work', 'Number of Runs', 'Uphill Time', 'Downhill Time', 'Other Time',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.start_time">Start Time</span>',
                'Weighted Average Power', 'Power Count', 'Prefer Perceived Exertion', 'Commute.1', 'Total Weight Lifted', 'From Upload', 'Grade Adjusted Distance',
                'Weather Observation Time', 'Weather Condition', 'Weather Temperature', 'Apparent Temperature', 'Dewpoint', 'Humidity', 'Weather Pressure',
                'Wind Speed', 'Wind Gust', 'Wind Bearing', 'Precipitation Intensity', 'Sunset Time', 'Moon Phase', 'Bike', 'Gear', 'Precipitation Probability', 
                'Precipitation Type', 'Cloud Cover', 'Weather Visibility', 'UV Index', 'Weather Ozone',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.type">Type</span>', 
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count">Jump Count</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit">Total Grit</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow">Avg Flow</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged">Flagged</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed">Avg Elapsed Speed</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance">Dirt Distance</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance">Newly Explored Distance</span>',
                '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance">Newly Explored Dirt Distance</span>',
                ]

In [6]:
activities_df.drop(axis=1, columns = cols_to_drop, inplace = True)

In [7]:
print(activities_df.columns)

Index(['Activity ID', 'Activity Name', 'Activity Type', 'Elapsed Time',
       'Distance', 'Max Speed', 'Average Speed', 'Elevation Gain',
       'Elevation Loss', 'Elevation Low', 'Elevation High', 'Max Grade',
       'Average Grade', 'Calories', 'Perceived Exertion',
       'Perceived Relative Effort', 'Sunrise Time'],
      dtype='object')

In [14]:
print(activities_df.dtypes)

Activity ID                    int64
Activity Name                 object
Activity Type                 object
Elapsed Time                   int64
Distance                      object
Max Speed                    float64
Average Speed                float64
Elevation Gain               float64
Elevation Loss               float64
Elevation Low                float64
Elevation High               float64
Max Grade                    float64
Average Grade                float64
Calories                     float64
Perceived Exertion           float64
Perceived Relative Effort    float64
Sunrise Time                 float64
dtype: object

In [15]:
print(activities_df.head())

                     Activity ID  ... Sunrise Time
Activity Date                     ...
2020-06-28 17:03:05   3685097064  ...          NaN
2020-06-29 21:42:34   3690295300  ...          NaN
2020-06-30 21:01:11   3695178692  ...          NaN
2020-07-01 20:38:04   3700009444  ...          NaN
2020-07-03 13:44:58   3707730760  ...          NaN

[5 rows x 17 columns]

In [19]:
activities_df.loc['2020-01-01':'2021-12-31']

                     Activity ID  ...  Sunrise Time
Activity Date                     ...
2020-06-28 17:03:05   3685097064  ...           NaN
2020-06-29 21:42:34   3690295300  ...           NaN
2020-06-30 21:01:11   3695178692  ...           NaN
2020-07-01 20:38:04   3700009444  ...           NaN
2020-07-03 13:44:58   3707730760  ...           NaN
...                          ...  ...           ...
2021-12-26 22:41:48   6431782335  ...  1.640521e+09
2021-12-27 20:32:43   6435407308  ...  1.640607e+09
2021-12-29 21:51:06   6444463164  ...  1.640780e+09
2021-12-30 20:11:41   6448568100  ...  1.640867e+09
2021-12-31 16:37:36   6453199183  ...  1.640953e+09

[406 rows x 17 columns]

#make activity date the index!

In [10]:
local_legends_segments_df = pd.read_csv(local_legends_segments_path)
print(local_legends_segments_df.head())

   Segment ID      Segment Name
0      784795  Trafton Rd Climb
1     5265111       Sheddsville
2     6548500           college
3     8396145             Kings
4     8691292  Cypress St Climb